<div
  class="absolute top-0 left-0 w-full h-full bg-cover bg-center overflow-hidden z-0"
  style="background-image: url('img/hola.avif');"
></div>
<div class="relative min-h-screen flex justify-center items-center bg-transparent rounded-3xl z-10">
  <!-- Contenedor principal con fondo azul -->
  <div class="bg-cover bg-center mx-auto rounded-3xl w-[900px] flex overflow-hidden shadow-lg" style="background-image: url('img/ARDOX.png');">

    <!-- Contenedor que mantiene tanto la imagen como el formulario -->
    <div class="w-full flex flex-col lg:flex-row">
      <!-- Formulario a la derecha -->
      <div class="w-full p-10 bg-white bg-opacity-70">
        <div class="space-y-6">
          <h1 class="text-2xl font-semibold mb-6 text-blue-800">Recuperar Contraseña</h1>
          <div class="flex">
            <input [(ngModel)]="email" class="w-[200%] mx-6 text-sm px-4 py-3 bg-white focus:bg-blue-100 border border-blue-200 rounded-lg focus:outline-none focus:border-blue-400" type="email" placeholder="Correo Electrónico">
            <button (click)="verificar()" type="submit" class="w-full flex justify-center bg-blue-700 hover:bg-blue-900 text-white p-3 rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500">
              Enviar Código
            </button>
          </div>
          <p class="text-sm mt-3 text-blue-600 text-center">Enviaremos un código de verificación.</p>
          <p class="mt-4 text-sm text-right">¿No tienes una cuenta? <a href="#" class="text-blue-600 font-semibold hover:underline">¡Crear una cuenta!</a></p>
        </div>
      </div>
    </div>
  </div>